<div class="todo-container">
  <div class="todo-form">
    <app-new-task></app-new-task>
  </div>
  <div class="todo-buttons">
    <button class="toggle-button" (click)="sortByTitle()">
      Ordenar de A a Z
    </button>
    <button class="toggle-button" (click)="toggleCompletedTasks()">
      {{ showCompletedTasks ? 'Exibir Tarefas Concluídas' : 'Ocultar Tarefas Concluídas' }}
    </button>
    <button (click)="clearCompletedTasks()">Limpar Tarefas Concluídas</button>
    <button (click)="clearAll()">Limpar Tudo</button>
  </div>
  <div class="todo-list_container">
    <div class="todo-list_todo">
      <app-todo-item
        *ngFor="let todo of filterIsCompletedTasks"
        [todo]="todo"
      ></app-todo-item>
    </div>
  </div>
  <div class="todo-buttons">
    <button class="toggle-button" style="background-color: green; color: white;" (click)="gerarPdf()">Exportar PDF</button>
  </div>
</div>
